.PageTitle {
    align-self: center;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: x-large;
    text-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
    margin: 0px;
    text-align: center;
    width: max-content;
    height: max-content;
    font-family: inherit;
}